# Frontend
frontend/node_modules/
frontend/build/
frontend/.env

# Backend
backend/node_modules/
backend/.env

# ML Model
ml-model/__pycache__/
ml-model/.venv/
ml-model/.env
ml-model/*.pyc
ml-model/.ipynb_checkpoints/

# System / IDE
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log
